<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<title>Login Page</title>
</head>
<body style="background-color: powderblue;">
	<div class="container w-50 mt-5">
		<h1 class="display-5 center">
			<marquee>Welcome Administrator!</marquee>
		</h1>
		<div class="jumbotron mt-3 border border-warning  py-4">
			<div class="">
				<img src="/img/IMG-4005.jpg" alt="webdba logo"
					style="width: 120px; height: 120px; margin: 0 auto 10px; display: block">
			</div>

			<p class=" text-muted text-justify">All data is safe and
				confidential with web based database administrator. Only authorised
				persons with roles and permission will able to access the data and
				website.</p>
			<hr class="my-4 ">
			<p>Please enter details</p>
			<form th:action="@{/LoginDashboard}" method="post">



				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label> <input
						type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" name="email" required> <small
						id="emailHelp" class="form-text text-muted">We'll never
						share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label> <input
						type="password" class="form-control" id="exampleInputPassword1"
						name="password" required>
				</div>
				<div class="form-group form-check">

					<a th:href="@{/forget}" class="forgot-password"> Forgot
						password? </a>

				</div>

				<div class="text-center mt-4">
					<button type="submit" class="btn btn-primary btn-lg"
						onclick="auth()">Login</button>
					<input type="reset" class="btn btn-primary btn-lg"
						>
				</div>
			</form>
		</div>

	</div>
	<script>
	
	/*
		function auth() {
			var email = document.getElementById("exampleInputEmail1").value;
			var password = document.getElementById("exampleInputPassword1").value;
			if (email == "admin@gmail.com" && password == "admin") {
				alert("Welcome Admin");
				window.location.assign("LoginDashboard.html");
			} else {
				alert("invalid Admin");
				return;
			}

		}
	*/
		function clear() {
			document.getElementById("exampleInputEmail1").value = "";
		}
	
	</script>
</body>
</html>